@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --background: #f2efe8;
  --foreground: #000000;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--foreground) !important;
}
.text-black {
  color: var(--foreground) !important;
}
.bg-black {
  background-color: var(--foreground) !important;
}
.bg-white, .bg-offwhite {
  background-color: var(--background) !important;
}
.text-white {
  color: var(--background);
}
.text-gold {
  color: #B37749;
}
.topRightCont .bg-gold {
  background-color: #B37749 !important;
}
.topLeftCont .bg-gold {
  background-color: #B37749 !important;
}
.bg-darkGold {
  background-color: #B3774930;
}
.breadcrumb-container {
  background-color: #B3774930;
  border-bottom: 1px solid #e0e0e0;
}

.breadcrumb-item a {
  color: #000 !important;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #B37749 !important;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination .page-item .page-link {
  border-radius: 5px;
  border-color: #000;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
  margin: 2px 5px;
}
.pagination .page-item.active .page-link{
  border-radius: 5px;
  border-color: #B37749;
  color: #fff;
  background-color: #B37749;
}
.pagination .page-item .page-link:focus {
  z-index: 3;
  color: #fff;
  background-color: #000;
  outline: 0;
  box-shadow: none !important;
}
.fs-14 {
  font-size: 14px;
}