@import 'globals.css';
/* home */
.videoBanner {
  position: relative;
  width: 100%;
  height: 87vh; /* Fullscreen height */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.videoBanner .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the whole area */
  z-index: 1; /* Stays below the overlay and text */
}
.bannerBg {
  position: relative;
  width: 100%;
  height: 87vh; /* Fullscreen height */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.videoBanner .videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black semi-transparent overlay */
  z-index: 2; /* Stays above the video but below the text */
}
.bgSearch {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 25px;
  border-radius: 0.5rem;
}
.bgSearchLight {
  background-color: #B3774930;
  padding: 15px 25px;
  border-radius: 0.5rem;
}
.formSort {
  background-color: transparent !important;
  border-radius: 0.5rem !important;
  border: 1px solid #000 !important;
  font-size: 16px !important;
  color: var(--foreground) !important;
}
.formSort:hover, .formSort:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.bgSearch .form-control, .bgSearch .form-select {
  background-color: transparent !important;
  border-radius: 0.5rem !important;
  border: 1px solid #B3774930 !important;
  font-size: 16px !important;
  color: var(--background) !important;
}
.bgSearchLight .form-control, .bgSearchLight .form-select {
  background-color: transparent !important;
  border-radius: 0.5rem !important;
  border: 1px solid #B3774930 !important;
  font-size: 16px !important;
  color: var(--foreground) !important;
}
.bgSearch .form-control::placeholder {
  font-size: 15px !important;
  color: var(--background) !important;
}
.bgSearchLight .form-control::placeholder {
  font-size: 15px !important;
  color: var(--foreground) !important;
}
.bgSearch label {
  font-size: 15px !important;
  color: var(--background) !important;
  opacity: 0.7;
  margin-bottom: 8px;
}
.bgSearchLight label {
  font-size: 15px !important;
  color: var(--foreground) !important;
  opacity: 0.7;
  margin-bottom: 8px;
}
.bgSearch .btn {
  background-color: var(--background);
  color: var(--foreground) !important;
  font-size: 16px;
}
.bgSearchLight .btn {
  background-color: var(--foreground);
  color: var(--background) !important;
  font-size: 16px;
}
.textContent {
  position: relative;
  z-index: 3; /* Text above everything */
}
.textContent .text-sub{
  font-size: 1.5rem;
  font-weight: 500 !important;
}
.descCont .text-sub {
  font-size: 1.5rem;
  font-weight: 500 !important;
}
.descCont .text-para {
  font-size: 0.9rem;
}
.descCont .text-head{
  font-size: 35px;
  font-weight: 600 !important;
}
.descCont .text-subhead{
  font-size: 25px;
  font-weight: 500 !important;
}
.btn-main {
  background-color: transparent;
  color: var(--foreground) !important;
  border-radius:5px !important;
  border: 0.5px solid #000 !important;
  padding: 8px 25px !important;
}
.btn-main-black {
  background-color: #000;
  color: var(--background) !important;
  border-radius:5px !important;
  border: 0.5px solid #000 !important;
  padding: 8px 25px !important;
}
.btn-main-sm {
  background-color: transparent;
  color: var(--foreground) !important;
  border-radius:5px !important;
  border: 0.5px solid #000 !important;
  padding: 0.25rem 0.5rem !important;
}
.btn-main-white, .btn-main-white:hover {
  background-color: transparent !important;
  color: var(--background) !important;
  border-radius:5px !important;
  border: 0.5px solid var(--background) !important;
  padding: 8px 25px !important;
}
.btn-main span , .btn-main-white span{
  font-size: 16px;
}
.btn-main i , .btn-main-white i{
  font-size: 18px;
  line-height: inherit;
}
.btn-main-sm span {
  font-size: 12px;
  line-height: 20px;
}
.btn-main-sm i {
  font-size: 12px;
  line-height: 20px;
}
.about-left{
  position: relative;
}
.about-left .patternBg {
  position: absolute;
  top: 0;
  right: 60%;
  bottom: 0px;
  left: -100000px;
  background-color: var(--background);
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: contain;
  background-position: center center;
}
.about-left .img-one {
  max-width: 75%;
}
.about-left .img-two {
  bottom: 0%;
  max-width: 220px;
  position: absolute;
  right: 35px;
}
.topRightCont {
  position: absolute;
  top:10px;
  right: 10px;
}
.topLeftCont {
  position: absolute;
  top:10px;
  left: 10px;
}
.propertyCard .card-body {
  border-radius: 1rem 1rem 1rem 1rem !important;
  margin-top: -5%;
}
.propertyCardList .card-body {
  border-radius: 0rem 1rem 1rem 0rem !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.propertyCardList  .projImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 0rem 0px 1rem !important;
}
.projImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0px 0px !important;
}
.invertImgWhite {
  filter: brightness(1) invert(1);
}
.invertImg {
  filter: brightness(0) invert(1);
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 15px !important;
  background: white;
  padding: 10px;
  color: #000;
  border-radius: 5px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.footCopyLink li {
  font-size: 14px;
  text-decoration: none !important;
}
.footCopy p{
  font-size: 14px;
}
.footCopyLink li+li:before {
  padding: 0 7px;
  color: #ddd;
  content: "|";
  font-size: 15px;
  font-family: bootstrap-icons;
}
.socialLightFoot li {
  margin-bottom: 8px;
}
.socialLightFoot li a{
 font-size: 16px;
 color: var(--background) !important;
 text-decoration: none !important;
}
.newsletterForm .form-control {
  background-color: var(--background) !important;
  border-color: #969696 !important;
  border-radius: 5px 0px 0px 5px !important;
  font-size: 16px !important;
  padding: 0.75rem !important;
}
.contact-form label {
  font-size: 15px !important;
  color: #969696 !important;
  opacity: 0.9;
  margin-bottom: 8px;
}
.contact-form .form-control {
  background-color: var(--background) !important;
  border-color: #B37749 !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  padding: .375rem 0.5rem !important;
}
.contact-form .PhoneInputInput {
  background-color: transparent !important;
  border:0px !important;
}
.contact-form .PhoneInputInput:hover, .contact-form .PhoneInputInput:focus {
  border:0px !important;
  outline: none !important;
  box-shadow: none !important;
}
.newsletterForm .btn-subsribe {
  background-color: var(--foreground) !important;
  border-color: #000 !important;
  border-radius: 0px 5px 5px 0px !important;
  font-size: 16px !important;
  padding: 0.75rem 1rem !important;
  color:var(--background)
}
.homeMainBlogImg {
  width: 100%;
  height: 425px;
  object-fit: cover;
  object-position: center;
}
.homeSubBlogImg {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
.aboutBannerimg {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 60vh;
  background-image: url('/assets/frontend/images/about.jpg');
  background-position: center;
  background-size: cover; /* Ensures the video covers the whole area */
  background-repeat: no-repeat;
  z-index: 1; 
}
.bgSkyline {
  position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100%;
    min-height: 46vh;
    background-image: url(/assets/frontend/images/dubaiBg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.1;
}
.aboutAccordion .accordion-item {
  border: 1px solid #969696;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: transparent !important;
}
.aboutAccordion .accordion-body {
  font-size: 0.9rem;
  border-top: 1px solid #fff;
  border-radius: 0px 0px 8px 8px;
}
.aboutAccordion .accordion-header {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.accordButton {
  width: 30px;
  height: 30px;
  background-color: #B37749;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordButton span{
  color: #fff;
  font-size: 18px;
}
.quotSec {
  position: absolute;
  top:0px;
  left:0;
  z-index: 0;
  opacity: 0.1;
}
.teamImage {
  width: 100%;
  height:350px;
  object-fit: cover;
  object-position: top center;
}
.blogCard{
  background-color: transparent !important;
  border:0px !important;
}
.blogCard{
  background-color: transparent !important;
  border:0px !important;
}
.blogCard{
  background-color: transparent !important;
  border:0px !important;
}
.blog-img-overlay{
  position: absolute; bottom: 0; width: 100%; height: 400px; z-index: 2; 
  border-radius: 1rem; padding: 20px 15px;
    background:rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 80%) repeat scroll 0 0;
}
.blogCard .blogImg {
  width: 100%;
  height:400px;
  object-fit: cover;
  object-position: center;
}
  @media (max-width: 600px) {
  
  }
  

  